<h1>お気に入りされた投稿一覧</h1>

<% @favorites.each do |favorite| %>
  <p>投稿者 <%= favorite.user.name %></p>
  <p>コメント <%= favorite.picture.content %></p>
  <p><%= image_tag(favorite.picture.image.url) %></p>
<% end %>

<%= link_to '投稿一覧へ戻る', pictures_path %>